<template>
  <div>
    <button id="payunit-pay">Pay with payunit</button>
  </div>
</template>

<script>
import { PayUnit } from "payunitjs";
export default {
  mounted() {
    PayUnit(
      {
        apiUsername: "payunit_********",
        apiPassword: "d32f47f1-*********",
        x_api_key: "201c1a1409***********",
        mode: "test",
      },
      {
        return_url: "https://google.com",
        notify_url: " ",
        description: "Online payment with payunit js sdk",
        purchaseRef: "",
        total_amount: "5000",
        name: "test",
        currency: "XAF",
      }
    );
  },
};
</script>

